body {
  &[data-style="flat"] {
    .navbar {
      display: flex;
      width: 100%;
      height: max-content;
      border-bottom: 1px solid var(--ncss-border);
      align-items: center;

      h1 {
        margin: 10px 20px;
        padding: 0;
        font-size: 2rem;
        font-weight: 500;
      }

      svg {
        margin: 10px 20px;
        width: 40px;
        height: 40px;
      }

      img {
        margin: 10px 20px;
        width: 40px;
        height: 40px;
      }

      .menu {
        display: flex;
        margin-left: auto;
        margin-right: 20px;

        &.left {
          margin-left: 20px;
          margin-right: auto;
        }

        a {
          margin: 0 10px;
          text-decoration: none;
          color: var(--ncss-text-black-secondary);
          transition: color 0.3s ease-in-out;

          &:hover {
            color: var(--ncss-text-black);
          }
        }
      }
    }

    &[data-theme="dark"] {
      .navbar {
        border-bottom: 1px solid var(--ncss-border-dark);

        h1 {
          color: var(--ncss-text-white);
        }

        .menu a {
          color: var(--ncss-text-white-secondary);

          &:hover {
            color: var(--ncss-text-white);
          }
        }
      }
    }
  }
}
