@import "ncss-colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  background: var(--ncss-body-light);
  color: var(--ncss-text-black);

  &[data-theme="dark"] {
    background: var(--ncss-body-dark);
    color: var(--ncss-text-white);
  }
}

@import "ncss-container", "ncss-navbars", "ncss-icons";
